html, body {
  height: 100%;
  background: #000000;
  overflow: hidden; /* Hide scrollbars */ 
}

body {
  margin: 0;
  display: flex;
  /* Center sketch horizontally. */
  justify-content: center;
  /* Center sketch vertically. */
  align-items: center;
}

canvas {
  display: block;   
  align-items: left;
}

.generateButtons {    
  border-radius: 12px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #312e2eec;
}

.button5:hover {
  background-color: #00000072;
  color: white;
}

.indexNextButton {
  position: fixed;
  bottom: 250px;
  right: 620px;
}

.videoSettings {
  border-radius: 18px;
}
